.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #282c34;
  font-family: "IBM Plex Mono", monospace;
  color: gainsboro;
}

.container {
  font-family: "IBM Plex Mono", monospace;
  background-color: rgb(24, 26, 27);
  color: gainsboro;
  border-color: rgb(60, 65, 68);
  border-radius: 10px;
  /* box-shadow: 2px 2px 2px 2px grey; */
  margin: auto;
  margin-top: 30px;
  padding: 2rem;
}

.container-claims {
  font-family: "IBM Plex Mono", monospace;
  color: gainsboro;
  background-color: #282c34;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px black;
  margin: auto;
  margin-top: 30px;
  padding: 20px;
}

nav {
  font-family: "IBM Plex Mono", monospace;
}

li {
  list-style-type: none;
  color: #183078;
}

h4 {
  margin: 5px;
}

.content {
  min-height: calc(100vh - 34px);
}
.footer {
  position: relative;
  margin-left: 1rem;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  left: 0;
  bottom: 0;
  background-color: #cad6ec;
  padding: 10px;
  padding-left: 10px;
}

.claim {
  padding-top: 12rem;
  padding-bottom: 3rem;
}

.dropdown {
  width: 200px;
  margin-top: 5px;
  margin-bottom: 15px;
  background-color: rgb(24, 26, 27);
}

.search-box {
  background-color: #183078;
}

.category-input {
  margin-bottom: 1rem;
  background-color: rgb(24, 26, 27);
  border-color: rgb(24, 26, 27);
  border-radius: 5px;
  color: gainsboro;
}

.btn-group {
  margin-left: 20px;
}

.recent-head {
  color: gainsboro;
}

.navbar {
  background-color: rgb(24, 26, 27);
  color: gainsboro;
}

a {
  color: gainsboro;
}

.nav-link {
  color: gainsboro;
}

#loginbtn {
  margin-top: 10px;
}

#login-container {
  width: 570px;
}

#sign-container {
  width: 600px;
}

.saved-alert-hidden {
  visibility: hidden;
}

.saved-alert {
  visibility: visible;
  margin: 6px;
}

.delete-claim {
  margin: 5px;
}

#change-category:hover {
  background-color: #89cdd3;
  color: #282c34;
}

#delete-cat:hover {
  background-color: #ff6961;
}

.delete-claim:hover {
  background-color: #ff6961;
}

#delete-pop {
  color: #282c34;
}

#new-cat {
  background-color: gainsboro;
  width: 350px;
}

.hidden-login {
  visibility: hidden;
}

#change-mode {
  width: 35px;
  height: 35px;
  border-radius: 90px;
  margin: 8px;
  background-size: cover;
  background-position: center;
  border: none;
}

.darkCont {
  font-family: "IBM Plex Mono", monospace;
  background-color: rgb(24, 26, 27);
  color: gainsboro;
  border-color: rgb(60, 65, 68);
  border-radius: 10px;
  /* box-shadow: 2px 2px 2px 2px grey; */
  margin: auto;
  margin-top: 30px;
  padding: 2rem;
}

.lightCont {
  font-family: "IBM Plex Mono", monospace;
  background-color: #d3d3d3;
  color: #282c34;
  border-color: rgb(60, 65, 68);
  border-radius: 10px;
  /* box-shadow: 2px 2px 2px 2px grey; */
  margin: auto;
  margin-top: 30px;
  padding: 2rem;
}

.darkmode {
  background-color: #282c34;
  color: aliceblue;
}
.lightmode {
  background-color: white;
}

.lightInput {
  width: 100%;
  background-color: aliceblue;
  border-radius: 5px;
  color: black;
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control {
  background-color: rgb(24, 26, 27);
  width: 100%;
  color: gainsboro;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #495057;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.darkHeader {
  color: #282c34;
}
.lightHeader {
  color: gainsboro;
}

.lightContSmoll {
  font-family: "IBM Plex Mono", monospace;
  color: #282c34;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px black;
  margin: auto;
  margin-top: 30px;
  padding: 20px;
}

.lightContSmoll a {
  color: #282c34;
}

.lightContSmoll a:hover {
  color: blue;
}

.spin {
  margin-left: 10rem;
  width: 90px;
  height: 90px;
  animation: spin 10s linear infinite;
  animation-delay: calc(var(--delay) * -1s);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hidden {
  visibility: hidden;
  width: 10px;
}

.logo {
  width: 50px;
  height: 50px;
}

b {
  font-family: "IBM Plex Mono";
  font-weight: 600;
}
